<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Bill</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Dashboard</a></li>
            <li class="breadcrumb-item active">Bill</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-body">

          <h3 class="mb-5">
            Last Balance: Rs. {{ last_balance }}
          </h3>

          <hr>

          <div class="responsive-table" *ngIf="bills.length > 0">
            <h4>Payment Statement</h4>
            <table class="table">
              <tr>
                <th>Data</th>
                <th>Month</th>
                <th>Total Amount</th>
                <th>Due Payment</th>
                <th>Balance Due</th>
              </tr>
              <tr *ngFor="let bill of bills">
                <td>{{ bill.datevalue }}</td>
                <td>{{ bill.selectMonths }}</td>
                <td>Rs. {{ bill.totalAmount }}</td>
                <td>Rs. {{ bill.duePayment }}</td>
                <td>Rs. {{ bill.balanceDue }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
