<!-- <div class="card rounded-0 shadow form-signin">
  <div class="card-body p-5">
    <h1 class="display-4 mb-3">Sign Up</h1>
    <div *ngIf="isLoginError" class="alert alert-danger">
      <i class="fas fa-exclamation-triangle"></i> Incorrect username or password
    </div>
    <form #registerForm="ngForm" class="" (ngSubmit)="OnSubmit()">
      <div class="form-group">
        <div class="input-group col s6">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user bg-none"></i></div>
          </div>
          <input type="text" #UserName ngModel name="UserName" placeholder="Username" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group col s6">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-lock"></i></div>
          </div>
          <input type="password" #Password ngModel name="Password" placeholder="Password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group col s12">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
          </div>
          <input type="text" #email ngModel name="email" placeholder="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group col s6">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input type="text" #firstname ngModel name="firstName" placeholder="FirstName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group col s6">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input type="text" #lastname ngModel name="lastName" placeholder="LastName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!registerForm.valid" class="btn btn-primary rounded-pill bg-primary px-5 mt-3"
          type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
 -->
